<a href="https://colab.research.google.com/github/utkarshnsr/Sign-Assessment/blob/main/ExtractingDifferentSigns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
!unzip allSigns.zip

Archive:  allSigns.zip
   creating: allSigns/

In [ ]:
allSignsDf = pd.read_csv("/content/finalalgoresult(May1).csv")
allSignsDf

,Sign_ID,ID,Easting,Northing,Altitude,Retro,Angle,Distance,UTC,Long,Lat,Pic
0,0,673558,737713.170,3754983.019,276.132,0.804,0.07837,9.272,49306.31157,-84.428977,33.908462,50
1,0,673559,737713.161,3754983.019,276.037,0.800,0.06810,9.262,49306.31161,-84.428977,33.908462,50
2,0,673560,737713.168,3754983.030,275.942,0.804,0.05782,9.272,49306.31164,-84.428977,33.908462,50
3,0,673561,737713.162,3754983.032,275.847,0.804,0.04755,9.267,49306.31167,-84.428977,33.908462,50
4,0,673562,737713.154,3754983.033,275.752,0.800,0.03727,9.262,49306.31170,-84.428977,33.908462,50
...,...,...,...,...,...,...,...,...,...,...,...,...
6528,35,3079366,742555.982,3755480.206,290.454,0.816,0.02704,31.119,49612.97505,-84.376509,33.911837,1096
6529,35,3079367,742555.976,3755480.215,290.134,0.780,0.01674,31.107,49612.97508,-84.376509,33.911837,1096
6530,35,3079457,742555.979,3755480.279,290.773,0.812,0.03743,30.930,49612.98833,-84.376509,33.911838,1096
6531,35,3079458,742555.977,3755480.286,290.455,0.808,0.02714,30.919,49612.98836,-84.376509,33.911838,1096
6532,35,3079459,742555.983,3755480.290,290.137,0.737,0.01685,30.920,49612.98840,-84.376509,33.911838,1096

In [ ]:
allSignIds = allSignsDf.Sign_ID.unique()

In [ ]:
from numpy import singlecomplex
pathToAllSigns = "/content/allSigns"
for signId in allSignIds:
  signDf = allSignsDf[allSignsDf['Sign_ID'] == signId]
  signDfPath = pathToAllSigns + "/sign" + str(signId) + ".csv"
  signDf.to_csv(signDfPath)

zip error: Nothing to do! (allSigns.zip)